.post-header + .post-content { margin-top: 25px; }

label {
	font-size: 14px;
	}

/* Wrapper 100% ensures the Gradio app displays well */
.wrapper {
	/* max-width: none!important;*/
	width: 100vw;
}

#bodyborder-bottom {
    display: none !important;
}


###backtotop {
    display: none !important;
}
